* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.jus-content-between {
    justify-content: space-between;
}

.header-nav .welcome {
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #f3f3f3;
    color: rgb(139, 133, 133);
}

.d-flex {
    display: flex;
}

li {
    text-decoration: none;
    list-style: none;
}

select,
option {
    text-decoration: none;
    list-style: none;
    border: none;
    background-color: transparent;
}

.header-nav .welcome li {
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    border-left: 0.5px solid rgb(237, 229, 229);
    border-right: 0.5px solid rgb(237, 229, 229);
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    text-align: center;
}

.header-nav .welcome img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header-nav .welcome .avt {
    color: black;
}

.header-nav .nav {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
}

.text-bold {
    font-weight: 600;
}

.text-transform {
    text-transform: uppercase;
}

.header-nav .nav .menu {
    margin-top: 0.8vw;
    margin-bottom: 0.8vw;
}

.header-nav .nav li {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.header-nav .nav a {
    color: black;
    text-decoration: none;
    font-size: 1.3vw;
}

.post-a-job {
    padding-top: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.post-a-job a {
    font-size: 1.3vw;
    background-color: rgba(22, 138, 200, 0.714);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.header-nav .nav a:hover {
    color: rgba(22, 138, 200, 0.714);
    text-decoration: none;
}

.header-nav .nav .logo img {
    border-radius: 50%;
    width: 2.8vw;
    height: 2.8vw;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgba(22, 138, 200, 0.714);
}

.header-nav .nav .name {
    margin-left: 0.5vw;
}

.header-nav .nav .logo {
    margin-top: 0.8vw;
    margin-bottom: 0.8vw;
}

.header-nav .nav .name .name-main {
    font-size: 1.5vw;
}

.header-nav .nav .name .text-name {
    font-size: 0.8vw;
    margin-top: -0.5vw;
    color: rgba(22, 138, 200, 0.714);
}

.find-job {
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 1.3vw;
    padding-top: 1.5vw;
    padding-bottom: 1vw;
    background-color: #242424;
    color: #fff;
}

.content {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.content .left 
{
    width: 25%;
   
  
    padding:0; 
    padding-bottom: 1vw;
}
.content .right 
{
    width: 72%;
    padding:0; 
    padding-bottom: 1vw;
   
   
   
}
.color-gray
{
    color:gray;
}
.content .left  .avt-infor
{
    width: 100%;
    text-align: center;
    margin-bottom:0.5vw;
   
}
.content .left  .avt-infor .img img
{
    border-radius: 50%;
    margin-bottom:1vw;
}
.content .left  .avt-infor .name
{
    font-size: 1.5vw;
}
.content .left  .avt-infor p,span
{
    font-size: 1.1vw;
    margin:0;
    padding:0.1vw;
}
.content .left .btn 
{
    border-bottom: 0.5px solid  rgb(210, 207, 207);
    padding-bottom: 1.5vw;
    padding-right:0;
    padding-left:0;
}
.content .left .btn button {
    padding:0.4vw 1.5vw;
    margin:0;
    text-transform: uppercase;
    font-size: 1vw;
    border:none;
    background-color:#e6e6e6;
    border-radius:0.2vw;
    width:48%;
    
}
.content .left .btn button:hover
{
    color:#fff;
    background-color:#496e9a;
}

.content .left  .website
{
    padding-top:1.5vw;
    padding-bottom:1.5vw;
    font-size:1.1vw;
    border-bottom: 0.5px solid  rgb(210, 207, 207);
}
.content .left  .website a , p
{
    text-decoration:none;
    margin-top:0.2vw;
    
}
.content .left  .website a
{
    color:gray;
}
.content .left  .website a:hover
{
    color:#496e9a;
}
.content .left .rating 
{
    padding-top:1.5vw;
    padding-bottom:1.5vw;
    font-size:1.1vw;
    border-bottom: 0.5px solid  rgb(210, 207, 207);
}
.content .left .rating .star
{
    color:#b2c322;
}
.content .left .rating .star span
{
    background-color:#b2c322;
    color:#fff;
    padding:0.1vw 0.7vw;
    border-radius: 2vw;
}
.content .left .rating p
{
    margin:0;
}
.content .left .Location 
{
    padding-top:1.5vw;
    padding-bottom:1.5vw;
    font-size:1.1vw;
    border-bottom: 0.5px solid  rgb(210, 207, 207);
    
}
.content .left .Location i
{
    color:#496e9a;
}
.content .left .Location .maps
{
    width:100%;
    height:10vw;
    margin-top:1vw;
    margin-bottom:1vw;
    background-color:rgb(208, 201, 201);
}
.content .left .Location p
{
    margin:0;
    margin-bottom: 0.1vw;
}
.content .left .contact
{
    padding-top:1.5vw;
    padding-bottom:1.5vw;
    font-size:1.1vw;
   
    font-size:1.1vw;
}
.content .left .contact p
{
    margin:0;
    margin-bottom: 0.1vw;
}
.content .left .contact  i
{
    color:#fff;
}
.content .left .contact .social a
{
    text-decoration:none;
    color:gray;
}
.content .left .contact .social a:hover
{
   
    color:#496e9a;
}
.content .left .contact .social
{
    margin-bottom:1vw;
    border:0.5px solid  rgb(210, 207, 207);
    padding:0.3vw 0;
    border-radius: 2vw;
}
.content .left .contact .fb
{
    padding:0.5vw 0.7vw;
    background-color:#3b5998;
    border-radius: 50%;
    margin-right: 1.5vw;
   
}
.content .left .contact .twitter
{
    padding:0.5vw 0.7vw;
    background-color:#1da1f2;
    border-radius: 50%;
    margin-right: 1.5vw;  
}
.content .left .contact .in
{
    padding:0.5vw 0.7vw;
    background-color:#8d6cab;
    border-radius: 50%;
    margin-right: 1.5vw;  
}
.content .left .contact .dri
{
    padding:0.5vw 0.7vw;
    background-color:#ea4c89;
    border-radius: 50%;
    margin-right: 1.5vw;  
}
.content .left .contact .be
{
    padding:0.5vw 0.7vw;
    background-color:#1769ff;
    border-radius: 50%;
    margin-right: 1.5vw;  
}
.content .left .contact .git
{
    padding:0.5vw 0.7vw;
    background-color:#333333;
    border-radius: 50%;
    margin-right: 1.5vw;  
}
.content .left .contact i
{
    font-size: 1vw;
}
.content .right .header 
{
    padding: 0;
    margin:0;
    /* border-bottom: 0.5px solid  rgb(210, 207, 207); */
}
.content .right .header  .line {
    border-bottom: 0.5px solid   rgb(210, 207, 207); 
    padding: 1.5vw ;
    width:100%;

}

.content .right .header button
{
    background-color:#fff;
    border:none;
    padding:0.5vw 1.5vw;
    font-size:1vw;
    border-bottom: 0.5px solid   rgb(210, 207, 207); 
  
    
}
.content .right .header button:hover
{
    border-top: 0.5px solid  rgb(210, 207, 207);
    border-left: 0.5px solid  rgb(210, 207, 207);
    border-right: 0.5px solid  rgb(210, 207, 207);
    border-bottom: 0.5px solid transparent;
    color:#1769ff;
    border-radius: 0.2vw;
 
}
.content .right .tt
{
    font-size: 1vw;
}
.content .right .box {

    border:0.5px solid  rgb(210, 207, 207);
    margin-top:2vw;
    padding-bottom: 1vw;
}

.content .right  .tt
{
    border-bottom: 0.5px solid   rgb(210, 207, 207);
    padding:0.5vw 1.5vw;
}
.content .right .detail
{
   padding-left: 1.5vw;
   padding-right: 1.5vw;
    font-size: 1.1vw;
}
.content .right .detail .border-line {
    border-bottom: 0.5px solid  rgb(210, 207, 207);
}
.content .right .box .btn button {
    border:none;
    background-color:#54a6d6;
    padding:0.4vw 1vw;
    color:#fff;
    font-size: 1.1vw;
    border-radius: 2vw;
}
.content .right .box .btn button:hover
{
    background-color: #496e9a;
}
.right-content
{

}
.content .right .About .tt button
{
    border:none;
    padding:0.2vw 1.5vw;
    font-size:1vw;
}

/* card */

.image-slide {
    width: 100%;
    padding: 0;
   
}

.image-slide .item-img {
    
    font-size: 1.2vw;
    width: 100%;
}

.image-slide .item-img .padding-item {
    padding-top: 2vw;
    padding-right: 1vw;
    padding-left: 0.5vw;
}

.item-slide .image-slide .item-img .item-top {
    width: 100%;
}

.image-slide .item-img .avt img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
   
    margin-right: 0.5vw;
}



.image-slide .item-img .cost {
    width: 20%;
    color: rgb(13, 11, 11);
}

.color-gray {
    color: gray;
}

.image-slide .item-img .item-des {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}





.image-slide .item-img .padding-item  .img-avt {
    width: 50%;
 
}

.cangiua {
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 1vw;
   
    margin-left: 0.5vw;
}
 .image-slide .item-img .padding-item  .img-avt .name {
    font-size: 1.2vw;
}

p {
    margin: 0;
    padding: 0;
}
.image-slide .item-img .padding-item .Descript
{
    font-size: 1vw;
    margin-top:-2vw;
}


.image-slide .item-img .padding-item  .img-avt .des
{
    margin-top:2.5vw;
    width:100%;
  
    margin-left:1.5vw;

}

 .image-slide .item-img .padding-item .rating i {
    margin-right: 0.2vw;
    font-size: 1vw;
    color: rgb(184, 184, 39);
    
}

 .image-slide .item-img .padding-item  .rating .level-rate {
    font-size: 1vw;
    background-color: rgb(184, 184, 39);
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 0.1vw 0.8vw;
    
}
.image-slide  .rating
{
 
    font-size: 1vw;
}
.image-slide .location
{
    margin-top: 2.5vw;
    font-size: 1vw;
}
 .image-slide .item-img .padding-item  .location i {
    color: #496e9a;
    font-size: 1vw;
 
}

 .image-slide .item-img .padding-item  .location .addr {
    color: gray;
    font-size: 1vw;
}
/* footer */

.footer {
    background-color: #242424;
}

.footer .footer-top {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
    width: 100%;
}

.footer .footer-top .left .des-top {
    color: #fff;
    font-size: 1.2vw;
}

.footer .footer-top .left .des-bottom {
    color: gray;
    font-size: 1vw;
    margin-top: 5px;
}

.footer .footer-top .left .des-bottom i {
    color: #54a6d6;
}

.footer .footer-top .right {
    background-color: #fff;
    border-radius: 0.3vw;
    -webkit-border-raius: 0.2vw;
    -moz-border-radius: 0.3vw;
    -ms-border-radius: 0.3vw;
    -o-border-radius: 0.3vw;
    -webkit-border-radius: 0.3vw;
    padding: 0.5vw;
}

.footer .footer-top input {
    font-size: 1.4vw;
    border: none;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.footer .footer-top button {
    background-color: #54a6d6;
    font-size: 1.4vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border: none;
    border-radius: 0.3vw;
    -webkit-border-radius: 0.3vw;
    -moz-border-radius: 0.3vw;
    -ms-border-radius: 0.3vw;
    -o-border-radius: 0.3vw;
    color: #fff;
}

hr {
    display: block;
    height: 0.5px;
    border: 0;
    border-top: 0.5px solid rgb(210, 207, 207);
    padding: 0;
}

.footer-content {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-top: 2vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
}

.footer-content .item {
    width: 30vw;
    position: relative;
    margin: 1vw;
    font-size: 1.1vw;
}

.footer-content .item .img {
    background-color: #54a6d6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 3.4vw;
    height: 3.4vw;
    text-align: center;
}

.footer-content .item .name {
    margin-left: 0.5vw;
    margin-top: -0.2vw;
}

.footer-content .item .name-main {
    font-size: 2vw;
    color: #fff;
}

.footer-content .item .text-name {
    font-size: 1vw;
    color: #54a6d6;
    margin-top: -0.5vw;
}

.footer-content .item .ct {
    color: gray;
    font-size: 1vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

.footer-content .item .contact span {
    margin-left: 1vw;
    margin-right: 1vw;
    color: gray;
}

.footer-content .item .tit {
    color: #fff;
    font-size: 1vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

.footer-content .item .detail {
    color: gray;
    font-size: 1vw;
}

.footer .coppy-right {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 2vw;
    padding-top: 2vw;
    width: 100%;
    color: gray;
    font-size: 1vw;
}

.footer .coppy-right .left span {
    color: #54a6d6;
}

.footer .coppy-right .right {
    color: #fff;
}